@{
    ViewData["Title"] = "Facturacion";
}

<div class="container text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Pagina para Facturación Electronica CFDI 4.0.</p>
    <img style="max-width: 50%" alt="si" src="https://i.ytimg.com/vi/ywd-Ie-bx7o/maxresdefault.jpg" />
</div>
